<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Simple Chat</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<script src="{{ url_for('static', filename='js/main.js') }}" defer></script>
		<div id="chat-box">
			<!-- Messages will appear here -->
		</div>
		<div id="loading-icon" hidden></div>
		<div id="input-container">
			<input type="text" id="message-input" placeholder="Type your message....">
			<button id="send-button">Send</button>
		</div>
	</body>
</html>

